.container {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin: auto;
}

.display {
  text-align: center;
  min-width: 4rem;
}

.time-value {
  font-weight: 900;
  font-size: 180%;
  font-family: 'Courier New', Courier, monospace;
}

.caption {
  font-size: 85%;
}
